<mtapp:setting
   id="mfa-google-auth-token"
   label="<__trans phrase="Security token">"
   label_for="mfa-google-auth-token"
   label_class="top-label form-group"
   hint="<__trans phrase="Enter the 6-digit security token displayed on your security device.">"
   hint_id="mfaGoogleAuthToken"
   show_hint="1"
   >
  <input type="text" name="mfa_google_auth_token" id="mfa-google-auth-token" class="form-control text full" required />
</mtapp:setting>
